<!-- ============================================ -->
<!--             Final Call to Action             -->
<!-- ============================================ -->

<section id="cta">
    <div class="container">
        <h2 class="title">
            Get Your New Look
            <br />
            With Us Today
        </h2>
        <p>
            Polished Beauty Bar and Spa would love to take care of you and all of your styling needs. Call or visit us today and book an appointment!
        </p>
        <a href="tel:405-217-0559" class="cs-button-solid">Call Now</a>
    </div>
    <picture>
        <source media="(max-width: 600px)" srcset="/assets/images/cabinets2-m.jpg">
        <source media="(min-width: 601px)" srcset="/assets/images/cabinets2.jpg">
        <img aria-hidden="true" decoding="async" src="/assets/images/cabinets2.jpg" alt="kitchen cabinets" loading="lazy" width="2500" height="1667">
    </picture>

</section>