---
title: 'Pixel Perfect Websites'
description: 'Meta description for the page'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css" />
    <link rel="stylesheet" href="/assets/css/critical.css" />

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "BeautySalon",
            "name": "Polished Beauty Bar",
            "address": {
              "@type": "PostalAddress",
              "streetAddress": "111 Hal Muldrow Dr",
              "addressLocality": "Norman",
              "addressRegion": "OK",
              "postalCode": "73072"
            },
            "telephone": "(405) 217-0559",
            "url": "https://polishedbeautybar.com",
            "sameAs": [
              "https://www.facebook.com/polishedbeautybarandspa",
              "https://www.instagram.com/polished_beauty_bar/"
            ],
            "serviceArea": {
              "@type": "State",
              "name": "Oklahoma"
            },
            "services": ["Gel Nails", "Spa Pedicures", "Manicures", "Shellac for Natural Nails", "Hair Care"],
            "geo": {
              "@type": "GeoCoordinates",
              "latitude": "35.217798909352865",
              "longitude": "-97.4725866522839"
            },
            "openingHoursSpecification": [
            {
              "@type": "OpeningHoursSpecification",
              "dayOfWeek": [
                "Monday",
                "Tuesday",
                "Wednesday",
                "Thursday",
                "Friday"
              ],
              "opens": "09:00",
              "closes": "19:00"
            },
            {
              "@type": "OpeningHoursSpecification",
              "dayOfWeek": "Saturday",
              "opens": "10:00",
              "closes": "14:00"
            }
            ]
          }
          
    </script>
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                   Stats                      -->
<!-- ============================================ -->

<section id="hero-929">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Expert Hair Care in Norman</h2>
            <div class="cs-flex">
                <div class="cs-content-group">
                    <p class="cs-text">
                        Polished Beauty Bar offers Full service Gel Nails, Spa Pedicures and Manicures, Shellac® for Natural Nails. Our stylists use the Latest Hair Care Products and Styles for curly hair, straight hair, ethnic hair, and more!
                    </p>
                    <a href="" class="cs-button-solid">Book An Appointment</a>
                </div>
                <div class="cs-hours-group">
                    <span class="cs-header">Business Hours</span>
                    <div class="cs-hours">
                        <span class="cs-day">Mon-Fri</span>
                        <span class="cs-time">9AM-7PM</span>
                    </div>
                    <div class="cs-hours">
                        <span class="cs-day">Sat</span>
                        <span class="cs-time">9AM-2PM</span>
                    </div>
                    <div class="cs-hours">
                        <span class="cs-day">Sun</span>
                        <span class="cs-time">Closed</span>
                    </div>
                </div>
            </div>
            <!--We need this wrapper div so we can place the cs-tagline around the cs-picture image. We can only place images inside picture tags so the cs-tagline can't go in there. hence we HAVE to make a div wrapper so they can be placed together-->
            <div class="cs-picture-group">
                <!-- <span class="cs-tagline">Since 1990</span> -->
                <!--Hair Model Picture-->
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/hair_nobg-m.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/hair_nobg.png">
                    <img aria-hidden="true" decoding="async" src="/assets/images/hair_nobg.png" alt="cabinets" width="400" height="563">
                </picture>

            </div>
        </div>
    </div>
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="/assets/images/salon-m.webp">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="/assets/images/salon.jpg">
        <img loading="lazy" decoding="async" src="/assets/images/salon.jpg" alt="salon interior" width="1920" height="804">
    </picture>
</section>
<!-- ============================================ -->
<!--                    Services                  -->
<!-- ============================================ -->

<section id="services-1355">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">What We Do Well</span>
            <h2 class="cs-title">Beauty and Aesthetic Care</h2>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="" class="cs-link">
                    <h3 class="cs-h3"><span class="cs-span">Gel</span> Nails</h3>
                </a>
                <picture class="cs-background">
                    <source media="(max-width: 600px)" srcset="/assets/images/nails-m.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/nails.jpg">
                    <img decoding="async" src="/assets/images/nails.jpg" alt="construction" width="305" height="305" aria-hidden="true">
                </picture>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <h3 class="cs-h3"><span class="cs-span">Ethnic</span> Hair</h3>
                </a>
                <picture class="cs-background">
                    <source media="(max-width: 600px)" srcset="/assets/images/ethnichair-m.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/ethnichair.jpg">
                    <img decoding="async" src="/assets/images/ethnichair.jpg" alt="construction" width="305" height="305" aria-hidden="true">
                </picture>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <h3 class="cs-h3"><span class="cs-span">Seasonal</span> Styles</h3>
                </a>
                <picture class="cs-background">
                    <source media="(max-width: 600px)" srcset="/assets/images/seasonal-m.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/seasonal.jpg">
                    <img decoding="async" src="/assets/images/seasonal.jpg" alt="construction" width="305" height="305" aria-hidden="true">
                </picture>
            </li>
        </ul>
    </div>
</section>
                                
                                
                                
<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="sbs-1591">
    <div class="cs-container">
        <div class="cs-image-group">
            <!--Top left image-->
            <picture class="cs-picture cs-picture1">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/models1.webp">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/models1.png">
                <img loading="lazy" decoding="async" src="/assets/images/models1.png" alt="model" width="413" height="500">
            </picture>
            <!--Top Right image-->
            <picture class="cs-picture cs-picture2">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/shoes2.webp">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/shoes2.png">
                <img loading="lazy" decoding="async" src="/assets/images/shoes2.png" alt="model" width="413" height="280">
            </picture>
        </div>
        <div class="cs-content">
            <span class="cs-topper">About us</span>
            <h2 class="cs-title">Your Best Hair, Nails & Beauty Care Center</h2>
            <p class="cs-text">
                Polished Beauty Bar & Spa in Norman, OK, offers a wide range of salon services including modern hair care, hard gel and shellac nail treatments, and a variety of pedicure options. Our team, with over 50 years of combined expertise, delivers quality services using top-of-the-line products. Known for exceptional customer service, we're recognized as one of Oklahoma's premier salons.
            </p>
            <a href="" class="cs-button-solid">View All Services</a>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                    Map                       -->
<!-- ============================================ -->

<section id="map-720">
    <!--Download the pin icon, in Figma create a 1920x600 rectangle and make its background a screenshot of the Google Maps location of your clients business location, make sure their actual location is at the center. Doesn't have to be EXACT. Then add the pin in Figma and absolutely position it where its location is in the map.  Highlight everything and hit CTRL G to group it, then export that section as a png.  Now you have your map graphic made for your client. Make an 800X1000 center crop of the image to load on mobile. Then remove this img tag for the icon. -->
    <!-- <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fred-pin.svg" alt="icon" decoding="async" width="80" height="80" aria-hidden="true"> -->
    <a style="display: flex;justify-content: center;width: 55%;"href="https://www.google.com/maps/search/?api=1&query=35.217798909352865,-97.4725866522839" target="_blank">
    <picture class="cs-background" id="map">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="/assets/images/map-m.webp">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="/assets/images/map-m.png">
        <img loading="lazy" decoding="async" src="/assets/images/map.png" alt="map" width="1280" height="600">
        </picture>
    </a>
</section>
                           

    <!-- ============================================ -->
    <!--                   Reviews                    -->
    <!-- ============================================ -->

    <section id="reviews">
        <div class="cs-container">
            <span class="cs-topper">Our Reviews</span>
            <h2 class="cs-title">Words From Our Customers</h2>
            <p class="cs-text">
                Our customers love their gel nails and hair styling. Don't just take it from us, here are a few of our happy customers words.
            </p>
            <ul class="cs-card-group">
                <!-- Review 1 -->
                <li class="cs-item">
                    <img
                    class="cs-item-img"
                    aria-hidden="true"
                    loading="lazy"
                    decoding="async"
                    src="/assets/images/unnamed.png"
                    alt="profile picture"
                    width="80"
                    height="80" />
                    <p class="cs-item-p">
                        Lisa is amazing!!! She has done my hair as well as my kiddos for several years! We love her !! The kids are always so excited to come get a shampoo and cut!!sent tons of people her way and they all love her just as mush!! She's the best!! She will always be our hair lady!!!
                    </p>
                    <span class="cs-reviewer">
                        Tosha Lawson
                        <!-- <span class="cs-desc">Homeowner</span> -->
                    </span>
                    <img
                    class="cs-item-stars"
                    aria-hidden="true"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg"
                    alt="stars"
                    width="96"
                    height="16" />
                </li>
                <!-- Review 2 -->
                <li class="cs-item">
                    <img
                    class="cs-item-img"
                    aria-hidden="true"
                    loading="lazy"
                    decoding="async"
                    src="/assets/images/unnamed2.png"
                    alt="profile picture"
                    width="80"
                    height="80" />
                    <p class="cs-item-p">
                        It was fantastic! It was my first time and I had a great time with Janine. She was professional and fun!
                    </p>
                    <span class="cs-reviewer">
                        Erin Wood
                        <!-- <span class="cs-desc">Homeowner</span> -->
                    </span>
                    <img
                    class="cs-item-stars"
                    aria-hidden="true"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg"
                    alt="stars"
                    width="96"
                    height="16" />
                </li>
            </ul>
            <a aria-label="read more reviews" href="/reviews" class="cs-button-solid">Our Reviews</a>
        </div>
    </section>

    {% include 'components/cta.html' %}
{% endblock %}