---
title: 'Pixel Perfect Websites'
description: 'Meta description for the page'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css" />
    <link rel="stylesheet" href="/assets/css/critical.css" />

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "BeautySalon",
            "name": "Polished Beauty Bar",
            "address": {
              "@type": "PostalAddress",
              "streetAddress": "111 Hal Muldrow Dr",
              "addressLocality": "Norman",
              "addressRegion": "OK",
              "postalCode": "73072"
            },
            "telephone": "(405) 217-0559",
            "url": "https://polishedbeautybar.com",
            "sameAs": [
              "https://www.facebook.com/polishedbeautybarandspa",
              "https://www.instagram.com/polished_beauty_bar/"
            ],
            "serviceArea": {
              "@type": "State",
              "name": "Oklahoma"
            },
            "services": ["Gel Nails", "Spa Pedicures", "Manicures", "Shellac for Natural Nails", "Hair Care"],
            "geo": {
              "@type": "GeoCoordinates",
              "latitude": "35.217798909352865",
              "longitude": "-97.4725866522839"
            },
            "openingHoursSpecification": [
            {
              "@type": "OpeningHoursSpecification",
              "dayOfWeek": [
                "Monday",
                "Tuesday",
                "Wednesday",
                "Thursday",
                "Friday"
              ],
              "opens": "09:00",
              "closes": "19:00"
            },
            {
              "@type": "OpeningHoursSpecification",
              "dayOfWeek": "Saturday",
              "opens": "10:00",
              "closes": "14:00"
            }
            ]
          }
          
    </script>
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                   Stats                      -->
<!-- ============================================ -->

<section id="hero-929">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Expert Hair Care in Norman</h2>
            <div class="cs-flex">
                <div class="cs-content-group">
                    <p class="cs-text">
                        Polished Beauty Bar offers Full service Gel Nails, Spa Pedicures and Manicures, Shellac® for Natural Nails. Our stylists use the Latest Hair Care Products and Styles for curly hair, straight hair, ethnic hair, and more!
                    </p>
                    <a href="" class="cs-button-solid">Book An Appointment</a>
                </div>
                <div class="cs-hours-group">
                    <span class="cs-header">Business Hours</span>
                    <div class="cs-hours">
                        <span class="cs-day">Mon-Fri</span>
                        <span class="cs-time">9AM-7PM</span>
                    </div>
                    <div class="cs-hours">
                        <span class="cs-day">Sat</span>
                        <span class="cs-time">9AM-2PM</span>
                    </div>
                    <div class="cs-hours">
                        <span class="cs-day">Sun</span>
                        <span class="cs-time">Closed</span>
                    </div>
                </div>
            </div>
            <!--We need this wrapper div so we can place the cs-tagline around the cs-picture image. We can only place images inside picture tags so the cs-tagline can't go in there. hence we HAVE to make a div wrapper so they can be placed together-->
            <div class="cs-picture-group">
                <!-- <span class="cs-tagline">Since 1990</span> -->
                <!--Hair Model Picture-->
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/hair_nobg-m.png">
                    <source media="(min-width: 601px)" srcset="/assets/images/hair_nobg.png">
                    <img aria-hidden="true" decoding="async" src="/assets/images/hair_nobg.png" alt="cabinets" width="400" height="563">
                </picture>

            </div>
        </div>
    </div>
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="/assets/images/salon-m.webp">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="/assets/images/salon.jpg">
        <img loading="lazy" decoding="async" src="/assets/images/salon.jpg" alt="salon interior" width="1920" height="804">
    </picture>
</section>
<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-879">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">What We Do Well</span>
            <h2 class="cs-title">Beauty and Aesthetic Care</h2>
            <p class="cs-text">
                Welcome to Polished Beauty Bar, where we treat your hair and nails with esthetic perfection. Our spa focuses on giving you that gel nail shine, and caring for every kind of hair: whether curls, straight, or natural black hair. It's not just a look, but rather a feel walking out of Polished Beauty Bar confidently shining. Visit Polished Beauty Bar and let’s create that head-turning look you’ve been dreaming of.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="" class="cs-link">
                    <h3 class="cs-h3">Gel Nails</h3>
                    <p class="cs-item-p">
                        Get the glossy look of fresh gel nails or shellac for natural nails.
                    </p>
                    <!--Backgorund Image-->
                    <picture class="cs-background">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/images/nails-m.webp">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/images/nails.jpg">
                        <img loading="lazy" decoding="async" src="/assets/images/nails.jpg" alt="person" width="1280" height="568">
                    </picture>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <h3 class="cs-h3">Ethnic Hair</h3>
                    <p class="cs-item-p">
                        We are proud to offer services to hair of all kinds!
                    </p>
                    <!--Backgorund Image-->
                    <picture class="cs-background">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/images/ethnichair-m.webp">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/images/ethnichair.jpg">
                        <img loading="lazy" decoding="async" src="/assets/images/ethnichair.jpg" alt="person" width="1280" height="568">
                    </picture>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <h3 class="cs-h3">Seasonal Styles</h3>
                    <p class="cs-item-p">
                        Stop by for any of your seasonal styling needs!
                    </p>
                    <!--Backgorund Image-->
                    <picture class="cs-background">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/images/seasonal-m.webp">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/images/seasonal.jpg">
                        <img loading="lazy" decoding="async" src="/assets/images/seasonal.jpg" alt="person" width="1280" height="568">
                    </picture>
                </a>
            </li>
        </ul>
        <a href="" class="cs-button-solid">Book Now</a>
    </div>
    <!--Change the svg path fill color to whatever color the section below is so you can match it and create the illusion it is all one piece-->
    <svg class="cs-wave" width="1920" height="179" viewBox="0 0 1920 179" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M1920 179V91.3463C1835.33 91.3463 1715.47 76.615 1549.2 32.9521C1299.48 -32.3214 1132.77 12.1006 947.32 61.5167C810.762 97.9044 664.042 137 466.533 137C331.607 137 256.468 123.447 188.082 111.113C130.974 100.812 78.5746 91.3609 0 91.3609V179H1920Z" fill="white"/>
    </svg>
</section>
                                
                                
<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="sbs-1591">
    <div class="cs-container">
        <div class="cs-image-group">
            <!--Top left image-->
            <picture class="cs-picture cs-picture1">
                <!--Mobile Image-->
                <!-- <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/ecommerce/models1.jpg"> -->
                <!--Tablet and above Image-->
                <!-- <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/ecommerce/models1.jpg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/ecommerce/models1.jpg" alt="mechanic" width="413" height="500"> -->
            </picture>
            <!--Top Right image-->
            <picture class="cs-picture cs-picture2">
                <!--Mobile Image-->
                <!-- <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/ecommerce/shoes2.jpg"> -->
                <!--Tablet and above Image-->
                <!-- <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/ecommerce/shoes2.jpg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/ecommerce/shoes2.jpg" alt="mechanic" width="413" height="280"> -->
            </picture>
        </div>
        <div class="cs-content">
            <span class="cs-topper">About us</span>
            <h2 class="cs-title">Your Best Spa, Beauty & Skin Care Center</h2>
            <p class="cs-text">
                Polished Beauty Bar & Spa in Norman, OK, offers a wide range of salon services including modern hair care, hard gel and shellac nail treatments, and a variety of pedicure options. Our team, with over 50 years of combined expertise, delivers quality services using top-of-the-line products. Known for exceptional customer service, we're recognized as one of Oklahoma's premier salons.
            </p>
            <a href="" class="cs-button-solid">View All Services</a>
        </div>
    </div>
</section>

    <!-- Contact Start -->
    <div class="container-fluid">
        <div class="container">
            <h2 class="mb-4" style="display:flex;justify-content: center;">Find us here</h2>
            <div class="row" style="justify-content: center;">
                <a style="display: flex;justify-content: center;width: 100%;"href="https://www.google.com/maps/search/?api=1&query=35.217798909352865,-97.4725866522839" target="_blank">
                <div class="col-lg-6" style="min-height: 500px;">
                    <div class="position-relative h-100">
                        <div style="width: 100%"><iframe width="100%" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=111%20Hal%20Muldrow%20Dr+(Polished%20Beauty%20Bar%20&amp;%20Spa)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a href="https://www.gps.ie/">gps trackers</a></iframe></div>
                        <a href="https://www.google.com/maps/search/?api=1&query=35.21780438753511,-97.4725886639406" target="_blank" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0); z-index: 5;"></a>
                        

                    </div>
                </div>
            </a>
            </div>
        </div>
    </div>
    <!-- Contact End -->

    <!-- ============================================ -->
    <!--                   Reviews                    -->
    <!-- ============================================ -->

    <section id="reviews">
        <div class="cs-container">
            <span class="cs-topper">Our Reviews</span>
            <h2 class="cs-title">Words From Our Customers</h2>
            <p class="cs-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit dolor volutpat porttitor sagittis nunc nisl. Sagittis sit pellentesque gravida viverra. Leo ut sed euismod tortor risus et. Ornare non neque, leo, ornare. Lorem ipsum dolor sit amet.
            </p>
            <ul class="cs-card-group">
                <!-- Review 1 -->
                <li class="cs-item">
                    <img
                    class="cs-item-img"
                    aria-hidden="true"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/profile5.png"
                    alt="profile picture"
                    width="80"
                    height="80" />
                    <p class="cs-item-p">
                        Dictum dolor, nullam morbi sem in auctor proin. Consequat dolor habitasse nam sed tempor. Viverra magna pharetra rhoncus, nec sed ullamcorper lectus et. Auctor velit diam fermentum consequat. Feugiat viverra massa urna, volutpat orci imperdiet eget eget.
                    </p>
                    <span class="cs-reviewer">
                        Jon Doe
                        <span class="cs-desc">Homeowner</span>
                    </span>
                    <img
                    class="cs-item-stars"
                    aria-hidden="true"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg"
                    alt="stars"
                    width="96"
                    height="16" />
                </li>
                <!-- Review 2 -->
                <li class="cs-item">
                    <img
                    class="cs-item-img"
                    aria-hidden="true"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/profile-4.png"
                    alt="profile picture"
                    width="80"
                    height="80" />
                    <p class="cs-item-p">
                        Dictum dolor, nullam morbi sem in auctor proin. Consequat dolor habitasse nam sed tempor. Viverra magna pharetra rhoncus, nec sed ullamcorper lectus et. Auctor velit diam fermentum consequat. Feugiat viverra massa urna, volutpat orci imperdiet eget eget.
                    </p>
                    <span class="cs-reviewer">
                        Jane Doe
                        <span class="cs-desc">Homeowner</span>
                    </span>
                    <img
                    class="cs-item-stars"
                    aria-hidden="true"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg"
                    alt="stars"
                    width="96"
                    height="16" />
                </li>
            </ul>
            <a aria-label="read more reviews" href="/reviews" class="cs-button-solid">Our Reviews</a>
        </div>
    </section>

    {% include 'components/cta.html' %}
{% endblock %}